# 他者のライブラリを統計情報から除外
LibNucleo64F446RE/Drivers/CMSIS/Device/ST/STM32Fxx/* linguist-vendored
LibNucleo64F446RE/Drivers/CMSIS/Include/* linguist-vendored
LibNucleo64F446RE/Drivers/stm32f4xx_hal_driver/* linguist-vendored
